@import "./header/header.css";
@import "./footer/footer.css";

:root {
    --color-white: #FFFFFF;
    --color-white-1: #FBFBFB;
    --color-black: #191C1C;
    --color-black-1: #0C0C0C;
    --color-green: #64CBC4;
    --color-grey: #F4F4F4;
}

body {
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    width: 100%;
    padding: 8px 15px;
    border-radius: 23px;
    height: fit-content;
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
}

.button-white {
    color: var(--color-black-1);
    background: var(--color-white-1);
    border: 1px solid var(--color-white-1);
}

.button__circle {
    background-color: var( --color-black-1);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

.button__circle svg {
    color: var(--color-white-1);
}

.green {
    color: var(--color-green);
}

.title {
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-top {
    font-family: "Roboto Serif", serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    color: var(--color-green);
}

.title-bottom {
    font-family: "Roboto Serif", serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-align: center;
    color: var(--color-black-1);
}

@media screen and (max-width: 768px) {

    .container {
        min-width: 360px;
        margin: 0;
        padding: 0 16px;
    }

    .button {
        /*padding: 8px 15px;*/
        /*border-radius: 23px;*/
        font-size: 16px;
        line-height: 21px;
    }

    .button__circle {
        /*margin-right: 10px;*/
        width: 26px;
        height: 26px;
    }

    .title {
        margin-top: 60px;
        margin-bottom: 40px;
        gap: 8px;
    }

    .title-top {
        font-size: 26px;
        line-height: 30px;
    }

    .title-bottom {
        font-size: 38px;
        line-height: 40px;
    }
}

.main {
    background-color: var(--color-black);
    padding-bottom: 90px;
    position: relative;
}

.main__container {
    display: flex;
}

.main__ornamentbox {
    position: absolute;
    top: 100px;
    left: 0;
}

.main__left {
    display: flex;
    flex-direction: column;
    gap: 204px;
    width: 48%;
    position: relative;
    z-index: 1;
}

.main__header {
    font-family: "Roboto Serif", serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    color: var(--color-white-1);
    margin-bottom: 24px;
    margin-top: 140px;
}

.main__desc {
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 32px;
    color: var(--color-white-1);
    margin-right: 100px;
}

.main__contacts-title {
    font-family: "Roboto Serif", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: var(--color-green);
    margin-bottom: 8px;
}

.main__contact {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main__contact:not(:last-child) {
    margin-bottom: 10px;
}

.main__iconbox {
    width: 25px;
    height: 25px;
}

.main__text {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    color: var(--color-white-1);
}

.main__right {
    width: 850px;
    height: 850px;
    position: relative;
    margin-right: -24%;
}

.main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__button {
    max-width: 239px;
}

@media screen and (max-width: 768px) {

    .main {
        padding-bottom: 32px;
    }

    .main__container {
        flex-direction: column;
    }

    .main__ornamentbox {
        display: none;
    }

    .main__left {
        gap: 40px;
        width: 100%;
    }

    .main__header {
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .main__desc {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 24px;
        margin-right: 0;
    }

    .main__contacts-title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 8px;
    }

    .main__contact {
        gap: 16px;
    }

    .main__iconbox {
        width: 25px;
        height: 25px;
    }

    .main__text {
        font-size: 16px;
        line-height: 21px;
    }

    .main__right {
        display: none;
    }

    .main__button {
        max-width: 186px;
    }

}

.uslugi__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.uslugi__item {
    padding: 40px;
    background: var(--color-grey);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    color: var(--color-black-1);
}

.uslugi__item-black {
    background: var(--color-black-1);
    color: var(--color-grey);
}

.uslugi__item-imgbox {
    border-radius: 50%;
    width: 86px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uslugi__item .uslugi__item-imgbox {
    background: var(--color-black-1);
}

.uslugi__item-black .uslugi__item-imgbox {
    background: var(--color-grey);
}

.uslugi__item-title {
    font-family: "Roboto Serif", serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.uslugi__item-points {
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    opacity: .9;
}

.uslugi__item-point::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 11px 4px;
    display: inline-block;
}

.uslugi__item .uslugi__item-point::before {
    background: var(--color-black-1);
}

.uslugi__item-black .uslugi__item-point::before {
    background: var(--color-grey);
}

@media screen and (max-width: 768px) {

    .uslugi {
        overflow: hidden;
    }

    .uslugi__items {
        gap: 16px;
        grid-template-columns: repeat(6, 280px);
        max-width: 1880px;
        width: 100%;
        overflow-x: scroll;
        margin: 0 -16px;
        padding: 0 16px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .uslugi__items::-webkit-scrollbar {
        display: none;
    }

    .uslugi__item {
        padding: 24px;
        border-radius: 16px;
        gap: 12px;
    }

    .uslugi__item-imgbox {
        width: 66px;
        height: 66px;
    }

    .uslugi__item-imgbox img {
        width: 36px;
        height: 36px;
    }

    .uslugi__item-title {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 24px;
    }

    .uslugi__item-points {
        font-size: 16px;
        line-height: 21px;
    }
}




.process__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.79fr;
    padding-top: 35px;
}

.process__item {
    position: relative;
    padding: 40px 30px 30px;
    border-radius: 20px;
    border: 3px solid var(--color-grey);
}

.process__item:not(:last-of-type) {
    margin-right: 70px;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid var(--color-grey);
    border-left: 3px solid var(--color-grey);
    background: linear-gradient(var(--color-grey), var(--color-grey)), linear-gradient(var(--color-grey), var(--color-grey));
    background-size: 47px 3px, 3px 50%;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right bottom;
}

.process__item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 3px;
    background: var(--color-grey);
    right: -67px;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.process__item:not(:last-of-type)::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 32px;
    right: -67px;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='32' viewBox='0 0 22 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43481 31.5936L0.536133 28.798L15.7887 15.888L0.536133 2.97797L3.43481 0.182373L22.0002 15.888L3.43481 31.5936Z' fill='%23F4F4F4'/%3E%3C/svg%3E%0A");
}

.process__item-imgbox {
    position: absolute;
    top: -35px;
    left: 30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-black-1);
    border: 2px solid var(--color-grey);
}

.process__item-title {
    font-family: "Roboto Serif", serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    color:  var(--color-black-1);
    margin-bottom: 8px;
}

.process__item-text {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    opacity: .9;
}

@media screen and (max-width: 768px) {

    .process {
        overflow: hidden;
    }

    .process__items {
        /*padding-top: 35px;*/
        max-width: 1400px;
        width: 100%;
        overflow-x: scroll;
        margin: 0 -16px;
        padding: 35px 16px 0;
        grid-template-columns: 347px 347px 347px 300px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .uslugi__items::-webkit-scrollbar {
        display: none;
    }

    .process__item {
        padding: 40px 24px 24px;
        border-radius: 16px;
    }

    .process__item:not(:last-of-type) {
        /*margin-right: 70px;*/
    }

    .process__item:not(:last-of-type)::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 70px;
        height: 3px;
        background: var(--color-grey);
        right: -67px;
        left: auto;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .process__item:not(:last-of-type)::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 22px;
        height: 32px;
        right: -67px;
        left: auto;
        top: 0;
        bottom: 0;
        margin: auto 0;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='32' viewBox='0 0 22 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43481 31.5936L0.536133 28.798L15.7887 15.888L0.536133 2.97797L3.43481 0.182373L22.0002 15.888L3.43481 31.5936Z' fill='%23F4F4F4'/%3E%3C/svg%3E%0A");
    }

    .process__item-imgbox {
        top: -33px;
        left: 24px;
        width: 66px;
        height: 66px;
    }

    .process__item-title {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 16px;
    }
}


.contacts__container {
    display: flex;
    gap: 204px;
   padding-top: 100px;
   padding-bottom: 160px;
}

.contacts__left {
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts__right {
    width: 61.5%;
    height: auto;
}

.contacts__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.contacts__title {
    text-align: start;
}

.contacts__line {
    height: 1px;
    width: 100%;
    background: var(--color-grey);
}

.contacts__text {
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: var(--color-black-1);
    opacity: .9;
}

.contacts__item {
    display: flex;
    gap: 24px;
    align-items: center;
}

.contacts__item:first-child {
    margin-bottom: 20px;
}

.contacts__item:first-child .contacts__item-imgbox img {
    width: 25px;
    height: 21px;
}

.contacts__item-imgbox {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-black-1);
}

.contacts__item-key {
    font-family: "Roboto Serif", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: var(--color-black-1);
    margin-bottom: 2px;
}

.contacts__item-value {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--color-black-1);
    opacity: .9;
}

.contacts__socials {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 768px) {

    .contacts__container {
        gap: 0;
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .contacts__left {
        width: calc(100% - 32px);
        gap: 16px;
    }

    .contacts__right {
        display: none;
    }

    .contacts__text {
        font-size: 16px;
        line-height: 21px;
    }

    .contacts__item {
        gap: 16px;
    }

    .contacts__item:first-child {
        margin-bottom: 16px;
    }

    .contacts__item:first-child .contacts__item-imgbox img {
        /*width: 25px;*/
        /*height: 21px;*/
    }

    .contacts__item-key {
        font-size: 18px;
        line-height: 23px;
    }
}